@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans text-color-text text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

@media screen and (max-width: 768px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

.custom-swiper {
  position: relative;
}

.custom-swiper .swiper-pagination {
  position: absolute;
  bottom: 12px; /* Adjust this value to position the capsule vertically */
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  padding: 10px 10px;
  background-color: rgba(128, 128, 128, 0.3); /* Gray with 50% opacity */
  border-radius: 20px; /* Adjust for desired capsule shape */
  width: auto;
}

.custom-swiper .swiper-pagination-bullet {
  background: #ffffff; /* Color for inactive dots */
  opacity: 0.5;
  width: 5px; /* Size of dots */
  height: 5px; /* Size of dots */
  margin: 0 4px; /* Space between dots */
}

.custom-swiper .swiper-pagination-bullet-active {
  background: #ffffff; /* Color for active dot */
  opacity: 1;
}

/* Existing styles for navigation arrows */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #ffffff;
  width: 40px;
  height: 40px;
}

.custom-swiper .swiper-button-next:after,
.custom-swiper .swiper-button-prev:after {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.custom-swiper .swiper-button-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  z-index: 1;
}

.custom-swiper .swiper-button-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 1px;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  z-index: 1;
}

.ticker-container {
  background-color: #e6f3ff; /* Light blue background */
  overflow: hidden;
  width: 200px; /* Adjust as needed */
  height: 24px;
}

.ticker-content {
  display: inline-flex;
  white-space: nowrap;
  animation: ticker 15s linear infinite;
}

.checkout-ticker-container {
  background-color: #e6f3ff; /* Light blue background */
  overflow: hidden;
  height: 40px;
}

.checkout-ticker-content {
  display: inline-flex;
  white-space: nowrap;
  animation: ticker 30s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-content span {
  flex-shrink: 0;
  padding-right: 4px; /* Adjust spacing between repetitions */
}

.payment-methods-container {
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  position: relative;
}

.payment-methods-content {
  display: inline-block;
  animation: slideLeftToRight 30s linear infinite;
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
